@charset "UTF-8";


@font-face {
    font-family: 'Apercu';
    src: url('../fonts/ApercuPro.woff2') format('woff2'),	
        url('../fonts/ApercuPro.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Apercu';
    src: url('../fonts/Apercu-Light.woff2') format('woff2'),	
        url('../fonts/Apercu-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Apercu';
    src: url('../fonts/Apercu-Medium.woff2') format('woff2'),	
        url('../fonts/Apercu-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

body {
	font-family: 'Apercu';
}


h1{
	font-size: 5em;
	color: #fff;
	margin:0;
	padding:0;
	text-transform: uppercase;
}

/* Centered texts in each section
* --------------------------------------- */
.section{
	text-align:center;
	overflow: hidden;
}

.myVideo{
	position: absolute;
	right: 0;
	bottom: 0;
	top:0;
	right:0;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
		background-color: white; /* in case the video doesn't fit the whole page*/
		background-image: /* our video */;
		background-position: center center;
		background-size: contain;
		object-fit: cover; /*cover video background */
		z-index:3;
}

/* Layer with position absolute in order to have it over the video
* --------------------------------------- */
.layer{
	position: absolute;
	z-index: 4;
	width: 100%;
	left: 0;
	top: 43%;

	/* 
	* Preventing flicker on some browsers 
	* See http://stackoverflow.com/a/36671466/1081396  or issue #183
	*/
	-webkit-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

/*solves problem with overflowing video in Mac with Chrome */
#section0{
	overflow: hidden;
}


video::-webkit-media-controls {
  display:none !important;
}


.animated {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}


@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

.scroll-down {
	position: fixed;
	width: 10%;
	z-index: 999;
	left: 45%;
	bottom: 10vh;
}

.st0 {
	fill: #fff;
}